<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About <%= pageTitle() %></title>
  </head>
  <body>
    <h1>Contact page</h1>
    <h2><%= name %> <%= lastName %></h2>
  </body>
</html>
